@import "../variables.scss";

.fruits-section {
  width: 100%;
}

.fruits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  &-title {
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 20px;
  }

  &__item {
    background-color: $primary-background;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &-image {
      width: 60px;
      padding: 60px;
      align-self: center;
    }

    &-name {
      font-weight: 800;
      margin-bottom: 5px;
    }

    &-family {
      color: #a3a3a3;
      margin-bottom: 5px;
    }

    & div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-price {
      font-weight: 800;
      font-size: 14px;
    }

    &-buy-button {
      background-color: transparent;
      border: none;
      height: 20px;
      cursor: pointer;

      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1060px) {
  .fruits-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .fruits-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 700px) {
  .fruits-list {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);

    &-title {
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .fruits-list {
    grid-template-columns: 1fr;
  }
}
