@import "../variables.scss";

.fruits-slider {
  margin-top: 40px;
  overflow: hidden;
  max-width: 550px;

  &__list {
    display: flex;
    gap: 15px;

    &-item {
      background-color: $primary-background;
      padding: 20px;
      border-radius: 12px;
      cursor: pointer;

      & img {
        padding: 25px 35px;
        width: 60px;
      }

      & h4 {
        font-weight: 800;
      }
    }
  }
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    &.active {
      background-color: #717171;
    }
  }
}

@media (max-width: 620px) {
  .fruits-slider {
    max-width: 360px;
  }
}

@media (max-width: 400px) {
  .fruits-slider {
    max-width: 180px;
  }
}
