@import "../variables.scss";

.order-summary {
  border-radius: 8px;
  background-color: #fff;
  border: $primary-border;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 18px;
    font-weight: 800;
  }

  &__price-total {
    font-size: 20px;
    font-weight: 800;
  }

  &__price-part {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  &__subtotal-number,
  &__vat-number {
    font-weight: 800;
  }

  &__vat {
    padding-bottom: 20px;
    border-bottom: $primary-border;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__total-text {
    font-size: 20px;
    font-weight: bold;
  }

  &__total-number {
    font-size: 20px;
    font-weight: bold;
  }
}
