.bag-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
  grid-gap: 50px;

  &__title {
    grid-column: 1 / -1;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .bag-page {
    grid-template-columns: 1fr;
  }
}
